body {
  background-color: rgb(253, 251, 251);
}

#cabecalho{
  position: fixed;
  text-align: center;
  top: 0px;
  background-color: salmon;
  width: 100%;
  left: 0px;
}

#minha_foto{
  width: 15%;
  margin-top: 110px;
  border-radius: 100%;
  margin-left: 42%;
}

ul li{
  display: inline-block;
  padding: 0px 30px;
}